header{
    background-color: #14a239;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    left: 0;
}

body{
    background-color: #40a786;
}

.headertitle{
    font-family: "Segoe UI";
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 17pt;

}

.box{
    background-color: #c8baba91;
    margin: 15em auto;
    width: 32em;
    border-radius: 11px;
    height: 45em;
}

.inputtitle{
    font-family: "Segoe UI";
    color: black;
    text-align: center;
    padding-top: 48px;
    display: block;
}

.inputtextbox{
    padding: 12px 15px 12px;
    margin: 0 auto;
    display: block;
}

.switch{
    text-align: center;
    padding-top: 22px;
    color: #00ff93;
    font-style: italic;
    cursor: pointer;
}

.inputselectbox{
    padding: 12px 100px 12px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

button{
    padding: 13px 51px 13px;
    margin: 4em auto;
    display: block;
    background-color: #20b4c5cc;
    border: none;
    cursor: pointer;
    color: white;
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 11pt;
}

.result{
    background-color: white;
    height: 5em;
    width: 15em;
    margin: 0 auto;
    border-radius: 12px;
}

.resulttext{
    text-align: center;
    padding: 21px;
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 21pt;
}